<%- include('partials/header');%>
<div class="box" id="heading">
    <h1>  <%= listTitle %> </h1>
</div>

<div class="box">
        <% newitems.forEach( (newitem) => { %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= newitem._id %>" onchange="this.form.submit()">
                <p> <%= newitem.name %></p>
                <input type="hidden" name="hiddenTitle" value="<%= listTitle %>">
            </div>
        </form>
        <% }) %>

        <form class="item" action="/" method="post">
            <input type="text" name="additem" placeholder="Add Item" autocomplete="off">
            <button type="submit" name="addbtn" value="<%= listTitle %>"> + </button>
        </form>
</div>

<div class="warning">
    <h3> <%= empty %></h3>
</div>
<%- include('partials/footer');%>
