<%- include('partials/header');%>
<div class="box" id="heading">
    <h1>  <%= worklist %> </h1>
</div>

<div class="box">
    <% newitems.forEach( (newitem) => { %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newitem.name %></p>
        </div>
    <% }) %>
        <form class="item" action="/" method="post">
            <input type="text" name="additem" placeholder="Add Item" autocomplete="off">
            <button type="submit" name="addbtn" value="<%= worklist %>"> + </button>
        </form>
</div>

<div class="warning">
    <h3> <%= empty %></h3>
</div>
<%- include('partials/footer');%>
